body,html{
  height:100%;
  padding:0px;
  margin: 0px;
}

body{
  background-image: url("../img/fondoLunarLander.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.nave img{
  position: fixed;
  padding-left: 43.44%;
  height:30%;
  top:0;
  z-index:-1
}

.luna img{
	position:fixed;
	bottom: -2%;
	height:25%;
  width: 100%;
  z-index:-2;
}

.menu{
  position: fixed;
  right: 20px;
  top: 20px;
  width: 300px;
  height: 300px;
  padding-top: 75px;
  box-sizing: border-box;
  border: 5px solid #004400;
  font-size: 32px;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  background-image: url("../img/planetaBv.png");
  background-size: cover;
}

.fondo-menu {
  position: fixed;
  right: 20px;
  top: 25px;
  width: 700px;
  height: 280px;
  background-color: darkgreen;
  border-radius: 150px;
  border: 5px solid #004400;
}

.menu img{
  position:relative;
  right:0;
  top:0%;
  height:60%;
  min-height: 460px;
}

.menu ul{
   position: fixed;
   list-style-type: none;
   margin: 0 14px;
   padding: 0 35px;
   text-shadow: 2px 2px 2px darkgreen;
   z-index: 1;
}

.menu li:hover{
    border: 2px solid white;
    border-radius: 10px;
}

.menu li{
  border:2px solid transparent;
  cursor:pointer;
}

.menu a{
   color:white;
   text-decoration:none;
}




}