body,html{
  height:100%;
  padding:0px;
  margin: 0px;
}

body{
  background-image: url("../img/fondoLunarLander.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.button{
  position: fixed;
  right:5%;
  top: 15px;
}

.bmenu img{
  height: 50px;
  border: 4px solid darkorchid;
  border-radius: 100%;
}
.bplay,.brest{
  display: none;
}

.menu{
  position: fixed;
  top:30%;
  left:10%;
  font-size: 30px;
  background-color: red;
  border: 4px solid darkred;
}

.menu li{
  text-align: center;
  background-color: darkred;
  margin:15px;
  padding: 10px;
}
.menu ul{
  list-style-type: none;
  padding: 2px;
  margin:5px;
}

.menu a{
  text-decoration: none;
  color:white;
}

.nave{
  display: block;
  position: relative;
}

.nave img{
  position: fixed;
  top: 0;
  left: 31%;
  height: 150px;
  z-index:-1
}

.luna{
  position: fixed;
  bottom: -2%;
  height:20%;
  max-height: 400px;
  min-height: 100px;
}

.luna img{
  position: ;
  width: 100%;
  height: 100%;
}
  height: 150px;
  z-index:-1
}
